/* Robot font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  color: #fff;
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.decks {
  width: 70%;
}

.create {
  width: 25%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.create label {
  font-weight: 500;
  margin-bottom: 5px;
}

.create button {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.create button:hover {
  background-color: #555;
}

.create .error {
  color: red;
  margin-top: 10px;
}

.deck-details {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.deck-details h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.deck-details p {
  margin-bottom: 10px;
}

.deck-details .material-symbol-outlined {
  cursor: pointer;
  color: red;
}

.error {
  color: red;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.deck-details.adding {
  animation: fadeIn 1s ease-out;
}

.deck-details.deleting {
  animation: fadeOut 1s ease-out;
}

.no-decks {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 20px;
}

.no-decks h2 {
  font-size: 1.5em;
  color: #333;
}

.view-details {
  color: blue;
  text-decoration: none;
  margin-left: 10px;
}

.view-details:visited {
  color: blue;
}